Polish_Law_updates_checker.json
{
  "name": "Polish_Law_updates_checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b76f40b4-818b-4624-b23f-f0ef7436560d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://eli.gov.pl/api/acts/{config_type}/{config_year}/{config_number}/references",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "c5dcc397-fd83-469d-befa-0e3f0250883d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "{config_datatable_id}",
          "mode": "list",
          "cachedResultName": "{config_datatable_name}",
          "cachedResultUrl": "/projects/{config_project_id}/datatables/{config_datatable_id}"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        272,
        -432
      ],
      "id": "f1165045-9173-4798-ac97-3c7f36f9b495",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "965aed3c-676d-450b-8425-45163f3f85cc",
              "leftValue": "={{ $json.act }}",
              "rightValue": "={{ $json.akty_wykonawcze_newest }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "8a5b5c0a-38ed-4bda-b663-4a2d77dfd5b6",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.act.announcementDate }} - New executive act related to {config_act_name}: {{ $json.act.title }} ({{ $json.act.ELI }}).\n\nCheck details at {config_isap_act_url}.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "b751531b-dcd6-44e9-9302-168f74b251be",
      "name": "Discord",
      "webhookId": "{config_discord_webhook_id}",
      "credentials": {
        "discordWebhookApi": {
          "id": "{config_discord_credentials_id}",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.act.announcementDate }} - New amending act related to {config_act_name}: {{ $json.act.title }} ({{ $json.act.ELI }})),\n\nCheck details at {config_isap_act_url}.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1424,
        240
      ],
      "id": "920441ad-1d19-4f75-ac4e-5fd488041463",
      "name": "Discord1",
      "webhookId": "{config_discord_webhook_id_2}",
      "credentials": {
        "discordWebhookApi": {
          "id": "{config_discord_credentials_id}",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.act.announcementDate }} - New Constitutional Court decision related to {config_act_name}: {{ $json.act.title }} ({{ $json.act.ELI }}).\n\nCheck details at {config_isap_act_url}.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1424,
        496
      ],
      "id": "97c9d334-e7d4-4883-8215-cf9fdecb5e55",
      "name": "Discord2",
      "webhookId": "{config_discord_webhook_id_3}",
      "credentials": {
        "discordWebhookApi": {
          "id": "{config_discord_credentials_id}",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "{config_datatable_id}",
          "mode": "list",
          "cachedResultName": "{config_datatable_name}",
          "cachedResultUrl": "/projects/{config_project_id}/datatables/{config_datatable_id}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reference_date": "={{ $json['act.announcementDate'] }}"
          },
          "matchingColumns": [
            "reference_date"
          ],
          "schema": [
            {
              "id": "reference_date",
              "displayName": "reference_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2544,
        272
      ],
      "id": "e2c5e7de-30c8-4247-902a-46924d07adb0",
      "name": "Insert row"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        -432
      ],
      "id": "fa406856-afde-4985-865a-5f7dcb3820df",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Akty wykonawcze']",
        "options": {
          "disableDotNotation": false,
          "destinationFieldName": "",
          "includeBinary": false
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "55ea0946-d937-476c-a375-c1cb2a7016b5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd422116-0ac4-489a-862a-918e8f8dc8e2",
              "leftValue": "={{ new Date($json.act.announcementDate).toISOString().slice(0,10) }}",
              "rightValue": "={{ $json.reference_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "dfd6de3a-389a-402e-a9de-ffafebff2b4b",
      "name": "Filter",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Akty wykonawcze\n",
        "height": 208,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -64
      ],
      "typeVersion": 1,
      "id": "cde2839b-abc4-4b9e-9872-8ae200d22105",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Akty zmieniające']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        240
      ],
      "id": "54ea05ba-e644-4d26-aaa3-4573728d979c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Akty zmieniające",
        "height": 208,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        192
      ],
      "typeVersion": 1,
      "id": "dcda9500-dbfb-4631-adca-d8cb4e94d07b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Orzeczenia TK",
        "height": 256,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        432
      ],
      "typeVersion": 1,
      "id": "5d5f1231-1e20-4f82-bab3-4f88211c8cd1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Orzeczenie TK']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        496
      ],
      "id": "9bb7c6cf-525d-4b43-9450-ecc7db6853fd",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        0
      ],
      "id": "07e87e6f-a8b8-49ff-9981-021a22d16202",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "act.announcementDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1232,
        0
      ],
      "id": "39244b1a-f49a-4cc8-bc8f-e81f8b7f8761",
      "name": "Sort"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        240
      ],
      "id": "ef222c14-8f03-40d3-b82f-58c43cbd6285",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        496
      ],
      "id": "b5f85627-dc30-4cb8-8d8d-dac8797ea1e8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd1fcf98-c511-46b0-8884-7a812de9e508",
              "leftValue": "={{ new Date($json.act.announcementDate).toISOString().slice(0,10) }}",
              "rightValue": "={{ $json.reference_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        816,
        240
      ],
      "id": "e74d9406-ecb9-4f4c-8785-940f06a05c55",
      "name": "Filter1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "act.announcementDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1232,
        240
      ],
      "id": "8e4d38ab-f73f-4d60-9d38-ad9122b0d73d",
      "name": "Sort1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55b04571-d178-4deb-ab89-4bddc73b1179",
              "leftValue": "={{ $json.act }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        240
      ],
      "id": "bcc0af70-1b67-4fc5-8c08-109c9638bf8c",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efba8a2b-a280-4cc4-9af1-42f54679c381",
              "leftValue": "={{ new Date($json.act.announcementDate).toISOString().slice(0,10) }}",
              "rightValue": "={{ $json.reference_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        496
      ],
      "id": "95b200ed-0eff-4295-b9e1-e09d33dd97ab",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95400a5a-4a4d-4b5f-908f-a6a402318aef",
              "leftValue": "={{ $json.act }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        496
      ],
      "id": "9f1b7096-887e-47cb-8375-c407ec874d1c",
      "name": "If1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "act.announcementDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1248,
        496
      ],
      "id": "1dbb5752-fbcc-4706-96e6-5682f272351b",
      "name": "Sort2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        256
      ],
      "id": "1e094f31-57cb-4bda-9854-5c250614083f",
      "name": "Merge3"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1584,
        288
      ],
      "id": "8a4a1814-18f3-487c-af8e-5eb41969ba9c",
      "name": "Limit1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1584,
        544
      ],
      "id": "92fd3fe9-ec32-4953-a61b-e0a87cba8455",
      "name": "Limit2"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1600,
        48
      ],
      "id": "6a8e5120-5b6e-448e-ae28-df0bbb15d2fc",
      "name": "Limit3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "act.announcementDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        288
      ],
      "id": "aea2e49f-9133-4dd2-ba89-a3715d098cf6",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "act.announcementDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        544
      ],
      "id": "78ab42ca-03cc-433e-b50d-aef3b004248e",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "act.announcementDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2160,
        272
      ],
      "id": "f41e2a21-c248-4eab-b20f-0be271771993",
      "name": "Sort3"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2368,
        272
      ],
      "id": "63e10c48-e69e-4508-ab71-b4e492ea87e1",
      "name": "Limit4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "act.announcementDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        48
      ],
      "id": "bd0737a9-bbef-467a-bc96-5dbe1440012b",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "content": "# Create and update link to DataTable\nIt should consider single column 'reference_date' with reference date as string 'YYYY-MM-DD'",
        "height": 368,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -672
      ],
      "typeVersion": 1,
      "id": "69408b70-cc0e-492f-b65a-205575f1f392",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# update webhook to your Discord",
        "height": 1072,
        "width": 182,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -352
      ],
      "typeVersion": 1,
      "id": "63f8dc89-dd7c-4ca0-b95b-4272de559ed1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Update URL to the correct act\n\nCheck https://isap.sejm.gov.pl/ for the relevant act.\n",
        "height": 400,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -256
      ],
      "typeVersion": 1,
      "id": "c7e86a24-feb9-46ea-81ab-683d6ed21f66",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Discord1": {
      "main": [
        []
      ]
    },
    "Discord2": {
      "main": [
        []
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf020cc7-1e91-4493-ad89-445fff9a3212",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{instance_id}"
  },
  "id": "8jTTeEGUvyLjRjek",
  "tags": []
}